.sideBar {
    display: flex;
}

.showSideBar {
    /*display: flex;*/
    z-index: 5;
    position: absolute;
}

.openArrow {
    filter: blur(0px);
}

.closeArrow {
    filter: blur(0px);
}

@media only screen and (max-width: 600px) {
    .sideBar {
        display: none;
    }

    .openArrow {
        filter: blur(5px);
        transition: all 1s ease-out;
    }

    .closeArrow {
        transition: all 0.5s cubic-bezier(0, .63, .99, .75);
    }
}
